{% extends "base.html" %} {% block content %}
<h2>Expense List</h2>

<ul class="list-group">
  <li class="list-group-item">Bought beer</li>
  <li class="list-group-item">Bought junkfood</li>
  <li class="list-group-item">Sell clothes</li>
  <li class="list-group-item">Sell grocery</li>
  <li class="list-group-item">Technogies</li>
  <li class="list-group-item">Makeup</li>
  <li class="list-group-item">Accessories</li>
  <li class="list-group-item">Houses and land</li>
  <li class="list-group-item">Ship</li>
  <li class="list-group-item">Pets and animal</li>
</ul>
{% endblock %}
